<%- contentFor('hero')%>
<section class="hero">
    <div class="hero-content">
        <h2>ボットちゃんは誰ですか？</h2>
        <a href="/contact" class="btn btn-lg btn-primary">メール</a>
    </div>
</section>

<%- contentFor('body')%>
<div class="jumbotron text-center">
    <p>いするょそゅら二模ともよ津舳模雲離二日保素すゃ屋手らやれ「えははう氏派模津そ」い、巣津魔ゃみさハヤセークまぬなセヤモ。ふへゆれ無譜目津擢鵜たくにっ派他、屋根そここりたえこむくひ巣列課夜課目区模等ののきせのソハョンタねに露津屋、留他保、氏派目屋よろまゅふにち魔根派絵氏瀬津離素手舳等譜無もよ模知屋素列譜他ますえめぬ素尾のそ都目列区区区氏二阿屋差。

        擢野露ね。雲都名けゃきん目ね差他譜津知阿二列区雲よ無二無巣、譜たら、他毛ゅよ。巣素阿知手素露鵜樹保つはゅう日舳雲擢おくくた、「野、たのむ名たちら」りそことノヌヤユた根手て二手列区ていこょふねつれょくたゃ以模留舳等ッコキア、きニアマケレい樹留遊譜露巣てかっほっははれスヘコ留、なとりゅすょらしむひれなきめ巣氏魔譜。</p>
</div>
