<%- contentFor('hero')%>
<section class="hero">
    <div class="hero-content">
        <h2>ボットちゃん</h2>
        <p>フサーメゃく個離知擢てすへ他二差個毛譜離他やほヘアイテロフ.</p>
        <a href="/" class="btn btn-lg btn-primary">スタート</a>
        <a href="/contact" class="btn btn-lg btn-primary">メール</a>
    </div>
</section>

<%- contentFor('body')%>

